@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    margin: 0;
    padding: 10px;
    font-family: 'Poppins',sans-serif;
    background-image: linear-gradient(97deg, rgb(234, 182, 182),rgb(180, 180, 240),rgb(255, 206, 206));
    /* max-width: 380px; */
}
#input-el{
    border-style: double;
    border: solid #5f9341 2px;
    width: 380px;
    height: 35px;
    box-sizing: border-box;
    padding: 3px 8px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}   
#save-btn{
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: white;
    background-color: rgb(93, 93, 236);
    margin: 10px;
}  
#save-btn:hover{ 
    background-color: white;
    color: blue;
    transition: 0.1s;
  }
#del-btn{
        border: 2px solid black;
        border-radius: 5px;
        padding: 6px 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        color: white;
        background-color: rgb(93, 93, 236);
        margin: 10px;
      

}
#del-btn:hover{
    background-color: white;
    color: blue;
    transition: 0.1s;
} 
#container{
    border: #5f9341;
}
li{
    text-decoration: dotted;
    color: grey;
    font-weight: 600;
}
.buttons{
    display: flex;
    margin-top: 10px;
    margin-left: -10px;
}
#del-btn{
    margin-left: 5px;
}